.btn {
    color: $white;
    border: none;
    border-radius: $grid-base * .4;
    display: inline-block;
    font-size: $font-base * 2.2;
    font-weight: bold;
    padding: $grid-base * 1.5;
    text-align: center;
    width: $grid-base * 20;
    transition-duration: .5s;
    text-decoration: none;

    &--red {
        background-color: $red;

        &:hover {
           background-color: darken($red, 10%); 
        }
    }

    &--green {
        background-color: $green;

        &:hover {
           background-color: darken($green, 10%); 
        }
    }

    &--circle {
        border-radius: 50%;
        width: $grid-base * 10;
        height: $grid-base * 10;
        line-height: $grid-base * 10;
        padding: 0;
    }
}