.btn {
    color: $white;
    border: none;
    border-radius: $grid-base * .4;
    display: inline-block;
    font-size: $font-base * 2.2;
    font-weight: bold;
    padding: $grid-base * 1.5;
    text-align: center;
    width: $grid-base * 20;
    transition-duration: .5s;
    text-decoration: none;

    &--red {
        background-color: $red;
        background: url('../img/tomato.png') center/cover no-repeat;
        padding-top:  $grid-base * 10;
        opacity: .8;
        transition-duration: .5s;
        &:hover {
           opacity: 1;
           transform: scale(1.2);
        }
    }

    &--green {
        background-color: $green;

        &:hover {
           background-color: darken($green, 10%); 
        }
    }

    &--outline {
        background-color: transparent;
        border: $font-base * .2 solid $white;
        border-radius: $font-base*.15 $font-base*5;
        font-family: 'Great Vibes', cursive;
        font-weight: 100;

        &:hover {
           background-color: rgba(0, 0, 0, .3)
        }
    }

    &--circle {
        border-radius: 50%;
        width: $grid-base * 10;
        height: $grid-base * 10;
        line-height: $grid-base * 10;
        padding: 0;
    }
}