
    .par {
        color: #414236;
        font-size: $font-base * 1.5;

        &--dec {
                line-height: $font-base * 5.5;
                font-family: 'Great Vibes', cursive;
                font-size: $font-base * 5;
                color: $red;
                text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        }
    }
