.to-top {
    display: none;
    
    &__link {
        display: block;
        color: $white;
        font-weight: bold;
        padding: $grid-base * 1.4;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        transition-duration: .4s;

        &:hover {
            background-color: rgba(0, 0, 0, .4);
        }
    }
}